.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pagination-container {
  padding-top: 60px;
  padding-bottom: 60px;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: #f7f7f7;
  border-radius: 5px;
}
.block:hover,
.block:focus {
  background-color: #ff6b08;
  color: #ffffff;
}

.pagination-number {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-left: 16px;
  margin-right: 16px;
  color: #000000;
}

.block-point {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  color: #000000;
}
.current-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #ff6b08;
}
.current-block:hover,
.current-block:focus {
  color: #000000;
  background-color: #f97a25;
}
