<div class="pagination pagination-section">
  <ul class="pagination pagination-container">
    <li class="pagination-arrow block">&#x2190;</li>
    <li class="pagination-number block">1</li>
    <li class="block-point">&#x22EF;</li>
    <li class="pagination-number block">2</li>
    <li class="pagination-number current-block">3</li>
    <li class="pagination-number block">4</li>

    <li class="block-point">&#x22EF;</li>
    <li class="pagination-number block">9</li>
    <li class="pagination-arrow block">&#x2192;</li>
  </ul>
</div>
