.footer-section {
  background-color: #f7f7f7;
}
.footer-conteiner {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;

  color: #545454;
}
