.header__btn-libryary {
  background-color: #ff6b0100;
  border-radius: 5px;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 14px;
  padding-bottom: 12px;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  margin-left: 16px;
}
.header__btn-libryary:hover,
.header__btn-libryary:focus {
  background-color: #ff6b01;
  border: 2px solid #ff6b01;
}
