.gallery-container {
  width: 1264px;
  padding-top: 60px;
  //   padding-bottom: 60px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: #000000;
}
.gallery-img {
  border-radius: 5px;
}
.gallery {
  flex-flow: wrap;
  column-gap: 16px;
  row-gap: 32px;
  display: flex;
  flex-direction: row;
}
.gallery-card {
  width: 394px;
  border-radius: 10px;
}
.gallery-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 16px;
}
.gallery-info {
  font-weight: 500;
  font-size: 20px;
  display: flex;

  color: #ff6b08;
  box-sizing: content-box;
  width: 100%;
  margin-top: 5px;
}
.gallery-average {
  position: relative;
  margin-left: 20px;
}
.gallery-average::after {
  content: '';
  width: 2px;
  height: 16px;
  background-color: #ff6b08;
  display: flex;
  position: absolute;
  bottom: 5px;
  left: -10px;
}
