.header {
  background-color: #e5e5e5;
}

.header.header-section {
  background-image: url(../images/header/desktop/index-bkgd.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  padding-top: 49px;
  padding-bottom: 41px;
}
.header-logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
  align-items: center;
}
.header__link {
  display: flex;
  align-items: center;
}
.logo-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  color: #ffffff;
  margin-left: 12px;
}

.header-logo__link {
  display: flex;
}
.header-button {
  display: flex;
}
.header__btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;

  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  text-transform: uppercase;
}
.header__link-btn {
  margin-left: 0px;
}
.header__link-btn:last-child {
  margin-left: 32px;
}

.header-form {
  display: flex;

  justify-content: center;
}
.header__input {
  height: 30px;
  background-color: transparent;
  outline: transparent;
  border: none;
  color: #ffffff;
  min-width: 250px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}
.header__form-search {
  display: flex;
  width: 394px;
  position: relative;
  justify-content: space-between;
}

.header__form-search::after {
  position: absolute;
  bottom: -1px;
  content: '';
  display: flex;
  width: 394px;
  height: 1px;
  background-color: #ffffff;
}

.header-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;

  line-height: 1.16px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
}
.logo-name:hover,
.logo-name:focus,
.header__btn:hover,
.header__btn:focus {
  color: #ff001b;
}

.current {
  font-weight: 505;
  position: relative;

  font-size: 12.5px;
}
.current::after {
  position: absolute;
  bottom: -3px;
  content: '';
  display: flex;
  width: 100%;
  height: 3px;
  color: #ff001b;
  background-color: #ff001b;
}
