/*МОДАЛЬНОЕ ОКНО-*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition-property: transform, opacity;
  transition-duration: 2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}

.modal {
  width: 280px;
  // height: 940px;
  content: '';
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mq(tablet) {
    width: 704px;
    height: 552px;
  }
  @include mq(desktop) {
    width: 806px;
    height: 558px;
  }
}

.modal-btn {
  background-color: #ffffff;
  border: 1.5px solid #505050;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 700;
  color: rgba(117, 117, 117, 1);
  font-size: 20px;
  line-height: 1.15;

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.17;
  }
}

.hidden-checked {
  transform: scale(0);
}

.modal-block {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 48px;
  padding-bottom: 40px;

  @include mq(tablet) {
    display: flex;
    flex-direction: row;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include mq(desktop) {
    display: flex;
    flex-direction: row;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.modal-fils {
  margin-right: 16px;
  @include mq(tablet) {
    // width: 264px;
    margin-right: 68px;
  }
}
.modal-pictures {
  min-width: 240px;
  @include mq(tablet) {
    min-width: 264px;
  }

  @include mq(desktop) {
    max-width: 375px;
  }
}
.modal-info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.16;

  color: #000000;

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.13;
  }
}

table td {
  padding-right: 41px;

  @include mq(tablet) {
    padding-right: 68px;
  }
  // @include mq(desktop) {
  //   padding-right: 83px;
  // }
}
.modal-title {
  color: #000000;
  margin-top: 20px;
}
// .modal-block {
//   width: 806px;
// }
.modal-info__film {
  font-size: 12px;
  line-height: 1.33;

  color: #8c8c8c;
  margin-top: 20px;
}

.modal-info__right {
  font-size: 12px;
  line-height: 1.33;

  color: #000000;
}
.modal-bottom {
  width: 391px;
}
.modal-bottom__title {
  font-size: 12px;
  line-height: 1.33;

  text-transform: uppercase;

  color: #000000;
  margin-top: 20px;
  margin-bottom: 8px;
}

.modal-bottom__text {
  display: flex;
  width: 240px;
  font-size: 12px;
  line-height: 1.66;

  color: #000000;
  @include mq(tablet) {
    width: 264px;
  }
  @include mq(desktop) {
    width: 391px;
  }
}
.modal-button__section {
  display: flex;
  margin-top: 20px;
  margin-left: 8px;
}
.modal__btn-libryary {
  background-color: #ff6b01;
  border-radius: 5px;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #ffffff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  border: 2px solid #ff6b01;
  margin-right: 20px;

  @include mq(tablet) {
    margin-right: 15px;
    width: 125px;
  }
  @include mq(desktop) {
    margin-right: 16px;
    padding-left: 42px;
    padding-right: 42px;
    padding-top: 14px;
    padding-bottom: 12px;
  }
}
.modal__btn-libryary:last-child {
  margin-right: 0px;
}
.modal__btn-libryary:hover,
.modal__btn-libryary:focus {
  background-color: #fbfbfb;
  border: 1px solid #000000;
  color: #000000;
}
.modal-span {
  background-color: #ff6b01;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 5px;
  margin-right: 2px;
  color: #ffffff;
}
